<div class="jumbotron text-center">
<h1>People</h1>
<div class="btn-group" role="group" aria-label="Default Button Groups">

<%= link_to "Everyone", users_path, class: "btn btn-default #{'active' unless params[:people]}"%>

<%= link_to "Friends (#{@friend_count})", users_path(people: "friends"), class: "btn btn-default #{'active' if params[:people] == 'friends'}" %>

<%= link_to "Requests (#{request_count})", users_path(people: "requests"), class: "btn btn-default #{'active' if params[:people] == 'requests'}" %>

<%= link_to "Pending (#{@pending_count})", users_path(people: "pending"), class: "btn btn-default #{'active' if params[:people] == 'pending'}" %>
</div>
</div>

<div class="container"> 
  <ul class="timeline">

  <% @activities.each_with_index do |activity| %>

  <% unless activity.trackable_type == "Friendship" && activity.owner == current_user %>
  <% if activity.trackable %>

  <% if cycle('odd', 'even') == 'odd' %>
  <li class="timeline.inverted">
    <% else %>
  <li>
  <% end %>


  <div class="timeline-badge"><%= gravatar_tag activity.owner.email, size: 55 %></div>
  <div class="timeline-panel">
  <div class="timeline-heading">
  <h4 class="timeline-title"><%= link_to activity.owner.username, user_path(activity.owner.username) %></h4>

  <p><small><%= time_ago_in_words(activity.created_at) %> ago</small></p>

  </div>
  <div class="timeline-body">
    <% case activity.trackable_type when "Post" %>
    
    <p><%= raw(activity.trackable.content_html) %></p>
      <% when "Friendship" %>
      <%= link_to activity.owner.username, user_path(activity.owner.username) %> is 
      now friends with <%= link_to activity.recipient.username, user_path(activity.recipient.username) %>
      <% end %>
    </div>
  </div>


  <% end %>
  <% end %>
  <% end %>


  </ul>

</div>

